<%= form_for user do |f| %>
  <div class="well">
    <div class="control-group">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="control-group">
      <%= f.label :timezone %>
      <%= f.collection_select :timezone, ActiveSupport::TimeZone.all, :name, :name %>
    </div>
    <div class="control-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit "#{button_value}", class: "btn btn-success" %>
  </div>
<% end %>