<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>
<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Time Zone:</dt>
    <dd><%= @user.timezone %></dd>
  </dl>
</div>
<h5><%= @user.username %>'s Activity</h5>
<ul class='nav nav-tabs'>
  <li class=<%= params[:tab] ? '' : 'active' %>>
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
  </li>
  <li class=<%= params[:tab] ? "active" : '' %>>
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: "comments") %>
  </li>
</ul>
<% if params[:tab] %>
  <%= render 'posts/comments', profile_comments: true, comments: @user.comments %>
<% else %>
  <%= render 'posts/posts', posts: @user.posts %>
<% end %>
